.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    background-color: rgba(18, 24, 41, 0.8);
    backdrop-filter: blur(24px);
    min-height: 80px;
    display: flex;
    align-items: center;
    z-index: 100;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 154px;
        height: 25px;
        display: flex;
        align-items: center;
    }
    &__menus {
        display: flex;
        align-items: center;
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 30px;

        &__menu {
            margin-left: 15px;
            &:first-child {
                margin-left: 0;
            }
            a {
                font-size: 1rem;
                font-weight: 500;
                color: white;

                &:hover {
                    color: #7c6ef6;
                }
            }
        }

        &__active_menu {
            a {
                color: #7c6ef6;
            }
        }
    }
    &__search {
        color: white;
        width: 24px;
        height: 24px;
    }
}
