@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #121829;
  height: 100%;
  // background-image: url("./assets/background.svg");
  // background-position: 50% -160px;
  // background-repeat: repeat-y;
  // background-size: 100%;

  // @media (max-width: 1440px) {
  //   background-size: 1440px;
  // }
}


#root {
  height: 100%;
}

body {
  height: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 25px;
}

.shimmer {
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  display: inline-block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
}

@keyframes shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.shimmer_blur {
  filter: blur(2px);
}

.shimmer_blured {
  filter: blur(5px);
}
