.lazy_image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px);

    img {
        object-fit: cover;
        opacity: 0;
        transition: opacity 0.6s cubic-bezier(0.75, 0.25, 0.25, 0.75);

        &[src=""] {
           transition: none; 
        }
    }

    &--loaded {
        filter: blur(0);

        img {
            will-change: opacity;
            opacity: 1;
        }
    }

    &--pending {
        filter: blur(10px);
    }
}