.movies_list {
    ul {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        
        @media(max-width: 1280px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        @media(max-width: 1024px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @media(max-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
    }
}
